// .choose{
//     padding: 0 20px;
// }

.choose-wrappwr {
    position: relative;
    width: 100%;
    // max-height: 577px;
    margin-bottom: 351px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 317px;
    background-color: #2C343E;
    border-radius: 10px;
   
}

.choose__headding{
    margin: 0;padding: 0;
    margin-bottom: 32px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.choose__paragrf{
    display: inline-block;
    margin: 0;
    
    padding: 0;
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}


.choose__list{
    width: 100%;
    
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
    margin: 0;
    padding: 0;
}



.choose__item{
    
    max-width: 350px;
    // height: 382px;
    margin: 0 15px;
    margin-bottom: 24px;
    padding: 48px;
    padding-top: 72px;
    list-style: none;
    background: #0E8784;
    border-radius: 8px;
}

.choose__item::before{
    
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-bottom: 56px;
    content: " ";
    background-image: url(/picture/quality.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.benifit::before{
    background-image: url(/picture/benifit.png);
}
.shipping::before{
    background-image: url(/picture/Shipping.png);
}



.choose__item__headding{
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces ;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7
}

.choose__item__paragrf{
    margin: 0; 
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
    .choose__item::before{
        background-image: url(/picture/quality@2x.png);
    }

    .benifit::before{
        background-image: url(/picture/benifit@2x.png);
    }

    .shipping::before{
        background-image: url(/picture/shipping@2x.png);
    }

}

@media only screen and(max-width: 1180px) {
    .choose-wrappwr{
        margin-bottom: 500px;
        padding-bottom: 480px;
    }
}

@media only screen and (max-width:  800px){
   .choose-wrappwr {
       padding: 56px 24px 368px 24px;
       
       
   }
   
   
   
    .choose__list{
       display: flex;
       flex-wrap: wrap;
   }
    .choose__item {
        display: flex;
        align-items: center;
        max-width: 573px;
        margin-bottom: 24px;
        padding: 41px;
        padding-left: 70px;
        
    }

    .item__wrapper{
        margin-left: 55px;
    }

    .choose__item::before{
        margin: 0;
    }

    .choose__item__headding{
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
    }
    .choose__item__paragrf{
        font-size: 15px;
        line-height: 25px;
    }

}

@media only screen and (max-width: 598px) {
    .choose-wrappwr{
        
        margin-bottom: 700px;
        padding-bottom: 681px;
    }
    
    .choose__headding{
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 28px;
    } 

    .choose__paragrf{
        font-size: 15px;
        line-height: 25px;
    }
    
    .choose__item {
         flex-direction: column;
         max-width: 279px;
         margin: 5px;
         margin-bottom: 24px;
         padding: 72px 33px 52px 33px;
             
     }

     .item__wrapper {
        margin: 0;
     }
     
     .choose__item::before {
        
            margin-bottom: 56px;
        }

        .choose__item__headding{
            margin-bottom: 24px;
        }
    
         
     
}


