.create-plan .container{
    padding: 134px 85px;
    background-image: url(/picture/create.png);
    
}

.create-plan__headding{
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
}

.create-plan__paragrf{
    opacity: 0.8;
}