.create-plan .container{
    padding: 134px 85px;
    background-image: url(/picture/create.png);
    background-size: contain;
    
}

.create-plan__headding{
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
}

.create-plan__paragrf{
    opacity: 0.8;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
   .create-plan .container{
       background-image: url(/picture/create@2x.png);
   }
}