.creat-work .container{
    height: 653px;
    margin-bottom: 159px;
    padding: 109px 85px;
    background-image: url(/picture/creat-work.png);
    background-repeat: no-repeat;
}

.creat-work__span::before{
    background-color: #2C343E;
    
}

.creat-work__span::after {
    background-color: #2C343E;

}

.creat-work__span2::after{
      background-color: #2C343E;
}

.creat-work__headding{
    color: #FEFCF7;
}

.creat-work__paragrf{
    color: #FEFCF7;
}

