.intro-section .container{
    width: 100%;
    margin-bottom: 168px;
    
}

.intro-section__wrapper{
padding: 137px 85px;
background-image: url(/picture/about-pic.png);
background-repeat: no-repeat;
background-position: center ;
border-radius: 10px;
}


.intro-section__headding {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces ;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.intro-section__paragrf {
    margin: 0;
    max-width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
    .intro-section .container{
        background-image: url(/picture/about-pic@2x.png);
    }
}

@media only screen and (max-width: 768px ) {

     .intro-section .container {
         margin-bottom: 120px;
     }

     
    .intro-section__wrapper {
        padding: 118px 58px;
        background-position: center;
    }
    
    .intro-section__headding{
       font-size: 32px;
       line-height: 40px;
    }
    

    .intro-section__paragrf{
        font-size: 15px;
    }
}

@media only screen and (max-width: 520px){
    .intro-section .container{
        margin-bottom: 120px;
    }
    
    .intro-section__wrapper {
        
        text-align: center;
        padding: 111px 24px 87px 24px;
    }
}