.intro-section .container{
    height: 450px;
    margin-bottom: 168px;
    padding: 137px 85px;
    background-image: url(/picture/about-pic.png);
    background-repeat: no-repeat;
    background-position: center;
}

.intro-section__headding {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces ;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.intro-section__paragrf {
    margin: 0;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}