.our-commitment .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 244px;
    padding: 0;
    width: 1111px;
    height: 520px;
}

.our-commitment__headding{
    margin-bottom: 32px;
    font-family: Fraunces ;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.our-commitment__paragrf{
    width: 539px;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}
