.question-choose .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    padding: 0 85px;
}

.left-box {
    max-width: 266px;
    margin-bottom: 20px;
}

.question-choose__list {
    list-style: none;
    padding: 0;
}


.left-box__link {
    display: inline-block;
    text-decoration: none;
    padding: 15px 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    opacity: 0.4;
}

.left-box__link--active {
    color: #333d4b;
    opacity: unset;
}

.left-box__span {
    margin-right: 10px;
}

.left-box__span--active {
    color: #0e8784;
}

// ==============================right box============================
.choose-form-wrapper{
    display: flex;
    margin: -15px;
    margin-bottom: 88px;
}


.choose-form__headding {
    margin-bottom: 56px;
    font-family: Fraunces;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}


.choose-form__label {
    display: block;
    margin: 15px;
}

.input-controller {
    display: block;
    max-width: 228px;
    height: 250px;
    padding: 32px 28px;
    background-color: #f4f1eb;
    border-radius: 8px;
}


.input-controller__headding {
    display: block;
    margin-bottom: 20px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
}


.choose-form__input:checked+.input-controller {
    background-color: #0e8784;
    color: #f4f1eb;
}

.choose-form__input:checked+.input-controller .input-controller__headding {
    color: #f4f1eb;
}
  

// ===============================

.order{
    max-width: 730px;
    margin: 0;
    margin-bottom: 40px;
    padding: 27px 64px;
    background-color: #2C343E;
}

.order__paragrf{
    color: #ffffff;
    opacity: 0.5;
    text-transform: uppercase;
}

.order__blockquote{
    margin: 0;
    font-family: Fraunces ;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.order__blockquote span {
    color: #0e8784;
}

.form__button{
    display: block;
    margin-left: auto;
    margin-bottom: 168px;
    padding: 15px 35px;
    background: #0E8784;
    color: #FEFCF7;
    border-radius: 6px;
}

@media only screen and (max-width: 1140px) {
    .question-choose .container{
        padding: 0 40px;
    }
    

    .question-choose__list{
        margin-right: 10px;
    }

    .choose-form__headding{
        font-size: 32px;
        line-height: 48px;
    }

    .choose-form__label{
        margin: 10px;
    }
    
}

@media only screen and (max-width: 962px){
    .question-choose .container{
       max-width: 100%;
       padding: 0 30px;
       
    }
    
    .choose-form{
        max-width: 100%;
    }

    .question-choose__list{
        display: none;
    }

    .form__button{
        margin: 0 auto;
    }

    .order{
        padding: 44px 27px;
    }
}

@media only screen and (max-width: 640px){
    .question-choose .container{
        padding: 0 20px;
    }
    
    .choose-form-wrapper{
      
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .input-controller {
        margin: 0 auto;
        display: block;
        max-width: 328px;
        height: auto;
        padding: 24px;
        background-color: #f4f1eb;
        border-radius: 8px;
    }

    .choose-form__headding{
          text-align: center;
          font-size: 24px;
          line-height: 24px;
    }

    .order {
        padding: 32px 25px;
    }


}