

.container-small {
    width: 1145px;  
}

.work__headding {
    margin-bottom: 95px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
}

.work__span {
    position: relative;
    display: inline-block;
    width: 760px;
    height: 1px;
    margin-bottom: 82px;
    border: 1px solid #fdd6ba;
    background-color: solid #fdd6ba;
}

.work__span::before {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    display: block;
    z-index: 5;
    width: 31px;
    height: 31px;
    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50%;
    content: ' ';
}

.work__span::after {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    display: block;
    z-index: 5;
    width: 31px;
    height: 31px;
    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50%;
    content: ' ';
}

.work__span2 {
    position: relative;
    display: inline-block;
    margin-bottom: 82px;
}

.work__span2::after {
    position: absolute;
    bottom: 0;
    right: 363px;
    transform: translateY(50%);
    display: block;
    z-index: 5;
    width: 31px;
    height: 31px;
    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50%;
    content: ' ';
}

.work__list {
    display: flex;
    padding: 0;
}

.work__item {
    width: 285px;
    height: 355px;
    margin-right: 83px;
    margin-bottom: 64px;
    list-style: none;
}

.work__item__span {
    display: block;
    margin-bottom: 38px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
}

.work__item__headdeing {
    margin: 0;
    margin-bottom: 42px;
    width: 255px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
}

.work__item__paragrf {
    width: 285px;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
}

.work__link{
    margin-bottom: 200px;
}


